<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic</title>
  </head>
  <body>
    {% if user_logged_in %}
      <p>Welcome back, you are now logged in!</p>
    {% else %}
      <p>Please log in!</p>
    {% endif %}


  </body>
</html>
