{% extends "base.html"%}
{% block content %}

<div class="jumbotron">
  <p>Welcome to Puppy User Name Check</p>
  <br>
  <p>Let's see if your username is secure!</p>
  <br>
  <p>Fill out the form below with the following constraints</p>
  <ul>
    <li>Must have an uppercase letter</li>
    <li>Must have a lowercase letter</li>
    <li>Must have a number at the end</li>
  </ul>
  <form action={{url_for('redirect')}}>

        <label for="username">username</label>
        <input type="text" name="username">
        <input type="submit" value="Submit Form">

  </form>

</div>

{% endblock %}
