{% extends "base.html"%}
{% block content %}

<div class="jumbotron">
  <p>Let's see how well you performed!</p>
  <br>

  {% if valid == True %}
      <p>You are a genius!</p>
  {% endif %}
  <ul>


  {% if uppercase == False %}
      <li>You need an uppercase letter</li>
        {% endif %}
  {% if lowercase == False %}
      <li>You need a lowercase letter</li>
        {% endif %}
  {% if number == False %}
      <li>You need a number</li>
        {% endif %}
    </ul>


</div>

{% endblock %}
